/* -------------------- CSS BY NAME -------------------------------------- */
/* -------------------- IMPORTED FONTS -------------------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap");
/*-------------------- CSS REST ---------------------------------------------------*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* -------------------- ROOT VARIABLES --------------------------------------- */
:root {
    --teal: #4ca7c0;
    --purple: #484fb7;
    --lavender: #6b8fe7;
    --yellow: #e9bb57;
    --pink: #d9526f;
    --dark-gray: #1e1e1e;
    --white: #ffffff;
}
/* --------------------GLOBAL STYLES (mobile first/small) --------------------*/

h1,
h2 {
    font-family: "Kavoon";
    color: var(--white);
}

h3 {
    color: var(--yellow);
    font-weight: bold;
}

strong {
    color: var(--purple);
    margin-bottom: 2%;
    font-weight: bold;
}

h1 {
    font-size: 3em;
}

nav h2 {
    font-size: 1.5em;
}

h2 {
    font-size: 2em;
    margin-bottom: 2vw;
}

/* h3 {
    font-size: 1.5em;
    margin-bottom: 5vw;
} */

h3 {
    font-size: 1.15em;
    font-weight: bold;
    margin-bottom: 1vw;
}

body {
    font-family: "Inter";
    border-radius: 5px;
    background-color: var(--purple);
}

#mini-header {
    color: var(--white);
    background-color: var(--pink);
    border-radius: 0px 0px 25px 25px;
    text-align: center;
    padding: 5vw 0 1vw 0;
    margin: 0 3% 5vw 3%;
    font-style: italic;
    z-index: -1;
    position: relative;
    bottom: 10px;
}

header h1 {
    background-color: var(--lavender);
    border-radius: 0px 0px 25px 25px;
    text-align: center;
    padding: 10vw 0;
    z-index: 1;
}

#hidden-lMenu,
#hidden-lHeader {
    display: none;
}

#menu {
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--yellow);
    border-radius: 0px 0px 15px 15px;
    padding: 2.5vw;
    font-weight: bold;
    font-style: italic;
    font-size: larger;
}

main {
    margin: 4%;
}

section {
    border-radius: 20px;
    margin-bottom: 4%;
}

#white section section {
    background-color: var(--white);
    padding: 4%;
    margin: 5% 1% 5% 1%;
    display: grid;
}

section p {
    line-height: 1.2;
}

section img {
    width: 100px;
    height: 100px;
    margin-bottom: 2%;
}

#pink {
    background-color: var(--pink);
    margin: 0 -4.4%;
    border-radius: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 4%;
    margin-bottom: 4%;
}

#pink h2 {
    grid-column: 1/3;
}

#pink p {
    width: 90%;
    padding: 5vw 0;
    text-align: center;
    border-radius: 20px;
    font-weight: bold;
    margin: 0 auto;
    margin-bottom: 2.5vw;
    margin-top: 2.5vw;
}

#pink :nth-child(2) {
    background-color: var(--teal);
}

#pink :nth-child(3) {
    background-color: var(--lavender);
}

#pink :nth-child(4) {
    background-color: var(--yellow);
}

#pink :nth-child(5) {
    background-color: var(--white);
}

#table section {
    margin: 1% 0;
}

table {
    margin: 0 auto;
}

th {
    background-color: var(--yellow);
    font-weight: bold;
    border: 2px solid var(--yellow);
}

th {
    padding: 3vw 2vw;
}

tbody {
    background-color: var(--white);
}

td {
    border: 2px solid var(--yellow);
    padding: 3vw 2vw;
}

footer {
    color: var(--white);
}

footer section {
    border-radius: 0;
    padding: 0;
    margin-bottom: 0;
    display: grid;
    grid-template-columns: 1fr;
}

footer p {
    line-height: 1.3;
}

#button {
    background-color: var(--white);
    color: black;
    border-radius: 15px;
    box-shadow: 3px 3px 5px var(--dark-gray);
    font-weight: bold;
    padding: 4vw 0;
    margin: 5%;
    border: none;
    font-size: 1.1em;
    text-align: center;
}

#footer-message {
    background-color: var(--pink);
    padding: 4%;
    margin-bottom: -4%;
}

#footer-right {
    background-color: var(--lavender);
    padding: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 0 0 20px 20px;
    margin-bottom: 15%;
    font-size: 0.8em;
    text-align: center;
}

#footer-right a {
    color: var(--white);
}

/*-------------------- MEDIA QUERY (medium) --------------------------------*/
@media screen and (min-width: 450px) {
    h3 {
        margin-bottom: 2%;
    }

    header h1 {
        background-color: var(--lavender);
        border-radius: 0px 0px 25px 25px;
        text-align: center;
        padding: 7vw 0;
        z-index: 1;
    }

    #mini-header {
        color: var(--white);
        background-color: var(--pink);
        border-radius: 0px 0px 25px 25px;
        text-align: center;
        padding: 4vw 0 1vw 0;
        margin: 0 1% 5vw 1%;
        font-style: italic;
        z-index: -1;
        position: relative;
        bottom: 10px;
    }

    #hidden-lHeader {
        display: block;
    }

    #hidden-sHeader {
        display: none;
    }

    #menu {
        padding: 2vw;
    }

    main {
        margin: 3%;
    }

    section {
        border-radius: 20px;
        margin-bottom: 0;
    }

    #white section section {
        margin: 3% 1% 3% 1%;
    }

    #first-set h3,
    #second-set h3,
    #third-set h3,
    #fourth-set h3 {
        grid-column: 1/3;
    }

    #first-set,
    #second-set {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0 4%;
    }

    #white section section {
        background-color: var(--white);
        padding: 6%;
    }

    .grid-last {
        grid-column: 1/3;
        margin-bottom: 4%;
    }

    #pink {
        background-color: var(--pink);
        margin: 0 -3.2%;
        border-radius: 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding: 1.5% 3%;
        margin-bottom: 3%;
    }

    #pink p {
        width: 80%;
        padding: 5vw 1vw;
        text-align: center;
        border-radius: 20px;
        font-weight: bold;
        margin: 0 auto;
        margin-bottom: 1vw;
        margin-top: 2.5vw;
    }

    #pink h2 {
        grid-column: 1/5;
        margin-bottom: 0;
    }

    #table {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #table h2 {
        grid-column: 1/3;
    }

    #table h3 {
        font-weight: bold;
    }

    td {
        border: 2px solid var(--yellow);
        padding: 2vw 1.5vw;
    }

    th {
        padding: 2vw 1.5vw;
    }

    #footer-message {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 0;
        padding: 3%;
    }

    #footer-message h2 {
        grid-column: 1/3;
    }

    #button {
        height: 10%;
        margin-top: 0;
        font-size: small;
    }

    #footer-right {
        padding: 7%;
        margin-bottom: 8%;
        font-size: 0.7em;
        text-align: center;
    }
}
/*-------------------- MEDIA QUERY (large) ------------------------------------*/
@media screen and (min-width: 620px) {
    h3 {
        text-align: center;
    }

    h2 {
        font-size: 2em;
        margin-bottom: 1vw;
    }

    header h1 {
        background-color: var(--lavender);
        border-radius: 0px 0px 25px 25px;
        text-align: center;
        padding: 4vw 0;
        z-index: 1;
    }

    #hidden-lMenu {
        display: block;
    }

    #hidden-sMenu {
        display: none;
    }

    #menu {
        padding: 1vw 2vw;
        font-weight: bold;
        font-style: normal;
        font-size: medium;
    }

    #menu ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        text-align: center;
    }

    main {
        margin: 2%;
    }

    #mini-header {
        padding: 2.5vw 0 0.5vw 0;
        margin: 0 1% 3vw 1%;
    }

    #first-set h3,
    #second-set h3,
    #third-set h3,
    #fourth-set h3 {
        grid-column: 1/2;
    }

    #first-set,
    #second-set {
        display: block;
        grid-template-columns: 1fr;
        gap: 0;
    }

    #white {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 0 2%;
    }

    #white section section {
        margin: 3% 1% 9% 1%;
    }

    #white h2 {
        grid-column: 1/5;
    }

    #pink {
        background-color: var(--pink);
        margin: 0 -2.1%;
        border-radius: 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding: 1% 2%;
        margin-bottom: 2%;
    }

    #pink p {
        width: 80%;
        padding: 3vw 1vw;
        text-align: center;
        border-radius: 20px;
        font-weight: bold;
        margin: 0 auto;
        margin-bottom: 1vw;
        margin-top: 2.5vw;
    }

    .grid-last {
        grid-column: 1/2;
        margin-bottom: 0;
    }

    #table {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 0 2%;
    }

    #table h3 {
        text-align: left;
    }

    #table section table {
        margin: 0 3%;
    }

    #table h2 {
        grid-column: 1/5;
    }

    td {
        border: 2px solid var(--yellow);
        padding: 1vw 1vw;
    }

    th {
        padding: 1vw 1vw;
    }

    #footer-message {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 0;
        padding: 2%;
    }

    #button {
        height: 10%;
        font-size: small;
        padding: 2vw 0;
        margin: 0 10%;
    }

    #footer-right {
        padding: 3%;
        margin-bottom: 5%;
        font-size: 0.7em;
        text-align: center;
    }
}
/*-------------------- MEDIA QUERY (xl) ---------------------------------------*/
@media screen and (min-width: 1280px) {
    body {
        margin: 0 8%;
    }

    h3 {
        margin-bottom: 1vw;
    }

    header h1 {
        background-color: var(--lavender);
        border-radius: 0px 0px 25px 25px;
        text-align: center;
        padding: 4vw 0 2vw 0;
        z-index: 1;
    }

    #menu {
        padding: 1vw 2vw;
    }

    #mini-header {
        padding: 1.8vw 0 0.5vw 0;
    }

    main {
        margin: 1.5%;
    }

    #white {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 0 1.5%;
    }

    #pink {
        background-color: var(--pink);
        margin: 0 -2.1%;
        border-radius: 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding: 1% 1.5%;
        margin-bottom: 1%;
    }

    #pink p {
        width: 85%;
        padding: 3vw 1vw;
        text-align: center;
        border-radius: 20px;
        font-weight: bold;
        margin: 0 auto;
        margin-bottom: 1vw;
        margin-top: 1vw;
    }

    #button {
        height: 10%;
        font-size: small;
        padding: 2vw 0;
        margin: 0 12%;
    }
}
